{
    "extends": ["react-app", "prettier"],
    "rules": {
        "prettier/prettier": "error",
        "max-len": ["error", 90]
    },
    "env": {
        "browser": true
    },
    "plugins": ["react", "prettier"]
}
